body{
    margin:0;
    padding:0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

iframe{
    width:100%;
    height:100vh;
    border:none;
    z-index:1;
}

#overlay{
    min-width:340px;
    z-index:2;
    position:absolute;
    max-height:calc( 100vh - 90px );
    top:30px;
    right:30px;
    background-color:rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    padding:10px 20px;
    color:#bbb;
    border:1px solid black;
    opacity:1;
    transition:0.2s;
    overflow-y:scroll;
    border-radius:5px;
}

#overlay h2:hover{
    color:white;
    cursor:pointer;
}

#overlay-settings-content div, #overlay-batch-content div, #overlay-common-settings div{
    display:flex;
    width:100%;
    margin: 2px 0;
}
#overlay div div input[type=range], #overlay div div input[type=text], #overlay div div input[type=password], #overlay div div select{
    flex:1;
}
#overlay div span{
    width:60px;
}

#overlay-toggle{
    position:absolute;
    z-index:3;
    right:0px;
    top:0px;
    padding:10px;
}
#overlay-toggle i{
    font-size:20px;
    color:#ccc;
    transition:0.1s;
}
#overlay-toggle:hover{
    cursor:pointer;
}
#overlay-toggle:hover i{
    color:white;
}
#overlay-toggle i{
    filter:drop-shadow(0px 0px 1px black)
}

input[type=number]{
    width:33%;
    max-width: 100px;;
}

button, input[type=text], input[type=number], #overlay div div input[type=password], select{
    background-color:rgba(0,0,0,0.5);
    color:#bbb;
    border:1px solid black;
    border-radius:5px;
    margin:0 2px;
}

button{
    padding:3px;
    font-weight: bold;
    transition:0.1s;
}
#screenshot, #screenshot-all{
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:10px;
}
button:hover{
    cursor:pointer;
    background-color:rgba(0,117,255,0.7);
}

::-webkit-scrollbar {
    width: 5px;
  }
    ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.5);
  }
    ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.8);
  }
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#models-list{
    background-color:rgba(0,0,0,0.5);
    border-radius:5px;
    flex-direction: column;
    display:flex;
    padding:2px;
    opacity:0.5;
    max-height:200px;
    overflow-y:scroll;
    overflow-x: hidden;
}

#models-list div{
    font-size:0.8em;
}
#models-list span{
    width:100%!important;   
}
#models-list div i{
    color:red;
    padding-top: 2px;
}

button:hover:disabled{
    background-color:rgba(0,0,0,0.5);
    cursor:not-allowed;
}